header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 3em;
  padding-top: 1em;
  z-index: 2;
  width: 100%;
  /* border-bottom: 1px solid white;*/
}

.left {
  position: relative;
  font-size: 1.9em;
  font-weight: bold;
  margin-left: 4vw;

  /* text not selectable */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.left > span{
  position: absolute;
  height: 100%;
  font-size: 30px;
  color: yellow;
}

.left:hover {
  cursor: pointer;
}

/* Menu */

.right {
  display: flex;
  flex-direction: row;
  margin-right: 4vw;
  font-size: 1.2em;
  z-index: 2;
}

.headerMenu {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.headerMenu > li {
  position: relative;
  margin-right: 2vw;
  font-weight: 600;
  font-size: 1.1em;

  /* text not selectable */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.headerMenu > li:hover {
  cursor: pointer;
  color: yellow;
  /* border-bottom: 4px solid yellow; */
}

.headerMenu > li:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 15px;
  width: 60%;
  margin: 0 0 0 -30%;
  border-bottom: 3px solid yellow;
}

.right .separator{
  font-size: 1.3em;
  margin-right: 2vw;
  transform: translateY(-5px);
  color: yellow;

  /* text not selectable */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Language */

.right img {
  max-height: 60%;
}

.german {
  margin-right: 1vw;
}

.language {
  display: flex;
  flex-direction: row;
  height: 100%;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0.1em 0 0 0;
  font-weight: 600;
}

.language > li {
  position: relative;
  display: block;
  height: 100%;

  /* text not selectable */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.language > li:hover {
  cursor: pointer;
  color: yellow;
}

.language > li:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 15px;
  width: 50%;
  margin: 0 0 0 -25%;
  border-bottom: 3px solid yellow;
}

#english a, #german a {
  margin: 0;
}

.hamburgerMenu {
  display: none;
}

.mobileSeparator {
  display: none;
}